body {
  background-color: antiquewhite;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

main {
  display: grid;
  height: 100vh;
  place-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: auto auto;
  justify-content: center;
  background-color: white;
  padding: 80px;
  border-radius: 15px;
  box-shadow: -10px -10px;
}
h1 {
  margin-bottom: 40px;
}

input {
  width: fit-content;
  border-radius: 4px;
  font-size: large;
  height: 40px;
  margin: 0;
  width: 300px;
  border: 1px solid #16a34a;
  padding: 0px;
  padding-left: 2px;
}
button {
  margin-top: 40px;
  width: 100px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #a3e635;
  border: 0px;
  color: black;
  font-size: large;
  border-radius: 5px;
}
